body{
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    padding:0px;
    margin:0px;
  }

.container{
    margin:0 auto;
    width:1028px;
    }

    .corner-menu{

      display:flex;
      justify-content: flex-end;
      margin-bottom:25px;
      }

.corner-menu ul{
        margin:0px;
        background-color: #3D5F8D;
        padding:3px;
        text-align:center;
      }

.corner-menu li{
        color:#F8FFFD;
        list-style: none;
        display: inline;
        font-family:Trebuchet MS;
      }
    
.corner-menu li:after{
  content:"|";
  padding:0px 5px;
  color:#8CB0CA;
}

.corner-menu ul li:last-child:after{
  content:"";
} 
.navbar{
        background-color: #162C44;
        margin-top:2em;
        padding:5px;
        clear:both; 
border: 1px solid #000; 
border-spacing:15px;
        } 
        
.navbar img{
  position:absolute;
  top:5px;
  margin-left:8px;
}
        
.navbar ul{
  padding-left:20em;
  line-height:1em;
  margin-left:3em;

  /* border:1px solid #F8FFFD; */
  /* border-spacing:5px; */
  /* box-sizing: border-box; */
  }

  .navbar ul li{
    display: inline;

  }
  .navbar ul li a{
    color:#8CB0CA;
    text-decoration: none;
    cursor: pointer;
    font-family:Trebuchet MS;
 
    } 
  
  .navbar ul li:after{
    content:"|";
    padding-left:8px;
    padding:0px 1em;
        color:#FFFFFF;
      
  }
  
  
  .navbar ul li:last-child:after{
    content:"";
  
  }

  .navbar ul li a:hover{
    background-color:#486881;
    color:#EDF0F5;
    padding:5px 15px;
    border-radius:5px;
    
    }
          
.content{
 background-color:#10223A;
 margin-top:3em;
 padding:2px;
 display:flex;
justify-content: space-around;
}

.content-section{
  display:flex;
  justify-content: space-round;
  padding:20px;
}

.image-section-links{
  border:20px 0px;
  color:red;
}

.image-section-links ol{
  list-style: none;
  margin-top:0px;
  line-height:24px;
  padding:0px;
}

.image-section-links a{
  color:#CAE4FD;
  font-family: Trebuchet MS;
  justify-content:flex-start;
  margin-left:2px;
  font-size:14px;
}

 .image{
  margin-bottom:10px;
  padding-top: 5px;
  padding-bottom: 10px;
   } 

 .services{
  margin-left: 30px;
 }

.headingcolor{
  color:#BDD8F3;
  font-family:Trebuchet MS;
  font-weight:bold;
  margin-top:0px;
  text-indent:8px;
  letter-spacing:1px;
}

.services-info{
  color:#FFFFFF;
  font-family:Trebuchet MS;
  font-size:14px;
  line-height:20px;
  margin:20px 10px;
}

.services-content ul{
  padding-left:45px;
}

.services-content li{
  padding-left:0px;
  color:#FFFFFF;
  line-height:20px;
  font-size:14px;
  font-family:Trebuchet MS;
}

.services-content a{
  color:#BDD8F3;
}

.request p{
  font-family:Trebuchet MS;
  font-size:14px;
  color:#FFFFFF;
  padding-top: 25px;
  padding-left:3em;
}

.contact-button{
  font-family:Trebuchet MS;
  font-size:14px;
  background-color:#2A4F7B;
  color:#C8E3FF;
  margin-left:40px;
  border-radius:10px;
}



.footer{
  background-color: #29416D;
  }
  
.footer p{
  color:#D5E0FF;
  padding-top:5px;
  padding-left:13em;
  padding-bottom:5px; 
  }
.footer u{
  color:#FEFFFF;
  }
  
.footer span{
  color:#EDF0F5;
  margin-top:12px;
  padding: 5px;
  }





