body{
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding:0px;
  margin:0px;
}

.container{
margin:0 auto;
width:1028px;
}

.corner-menu{

display:flex;
justify-content: flex-end;
margin-bottom:25px;
}

.corner-menu ul{
margin:0px;
background-color: #3D5F8D;
padding:3px;
text-align:center;

}

.corner-menu li{
  color:#F8FFFD;

 list-style: none;
 display: inline;
 font-family:Trebuchet MS;
 
}


.corner-menu li:after{
  content:"|";
  padding:0px 5px;
  color:#8CB0CA;

}

.corner-menu ul li:last-child:after{
  content:"";
}


.navbar{
background-color: #162C44;
margin-top:2em;
padding:5px; 
clear:both; 
display:flex;
flex-wrap: nowrap;


/* border-style: solid; */
/* border-radius:10px; */
 } 

.navbar-logo{
  position:absolute;
  top:5px;
  margin-left:8px;
}


.navbar ul{
padding-left:20em;
line-height:1em;
margin-left:3em;
border: 1px solid #3A495E;
/* border: 5px solid #000;  */
/* border-image: linear-gradient; */
/* border-width: 4px; */
}

.navbar ul li{
  display: inline;

}

.navbar ul li a{
color:#8CB0CA;
text-decoration: none;
cursor: pointer;
font-family:Trebuchet MS;
text-align:right;

} 

.navbar ul li:after{
  content:"|";
  padding-left:8px;
  padding:0px 1em;
  color:#FFFFFF;
}

.navbar ul li:last-child:after{
  content:"";
}

.navbar ul li a:hover{
background-color:#486881;
color:#EDF0F5;
padding:5px 15px;
border-radius:5px;

}
 
.banner{
  background-color: rgba(0, 0, 0, 0.3);
  color:#EDF0F5;
  padding:15px;
}

.banner h2{
  font-weight: lighter;
  font-size: xx-large;
  font-style:sans-serif;
  text-indent: 20px;
  /* font-family: "Lucida Console", "Courier New"; */
  font-family:Trebuchet MS;
  letter-spacing: 8px;
  line-height: 0.1;
  padding-top:25px;
}

.content{
background-color:#10223A;
padding:20px 25px 10px;
}

.tiles{
  display:flex;
  justify-content:space-between;
  }

.tilesinfo{
flex:1;
border:1px ;
color:#FEFFFF;
padding:10px 12px 0px;
}

.img-filter{
  filter:brightness(2);
}

.tilesinfo p{
  color:#FEFFFF;
  font-family:Trebuchet MS;
  line-height: 24px;
}

.underlined-text{
background-color:#14243B ;
color:#AEDCFF;
}

.footer{
background-color: #29416D;
}

.footer p{
color:#D5E0FF;
padding-top:7px;
padding-left:13em;
 padding-bottom:5px;  

}
.footer u{
color:#FEFFFF;
}

.footer span{
color:#EDF0F5;
margin-top:12px;
padding: 5px;
}


