body {
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

.container {
  margin: 0 auto;
  width: 1028px;
}

.corner-menu {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.corner-menu ul {
  margin: 0px;
  background-color: #3d5f8d;
  padding: 3px 5px;
  text-align: center;
}

.corner-menu li {
  color: #f8fffd;
  list-style: none;
  display: inline;
  font-family: Trebuchet MS;
  font-size: 12px;
  padding: 0px;
}

.corner-menu li:after {
  content: "|";
  color: #8cb0ca;
  padding-left:2px;
 
}

.corner-menu ul li:last-child:after {
  content: "";
}

.navbar {
  background-color: #162c44;
  margin-top: 2em;
  padding: 3px;
  opacity: 0.9;
}

.navbar-section {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  border: 1px solid #707070;
}

.navbar-logo {
  position: absolute;
  top: 8px;
  margin-left: 8px;
}

.navbar-section ul {
  list-style: none;
  display:flex;
  align-items:center;
  padding-left:24em;
 }

.navbar-section li {
  display: inline;
}
.navbar-section a, .active {
  color: #8cb0ca;
  text-decoration: none;
  cursor: pointer;
  font-size:18px;
  font-family: Trebuchet MS;
  padding:2px 10px;
}

.navbar-section a.nav-listitem:hover, .active{
  color: #ffffff;
  border-radius: 5px;
  background-color: #486881;

}

.navbar-section ul li a:hover {
  background-color: #486881;
  color: #edf0f5;
  border-radius: 5px;
}

.navbar-section li:after {
  content: "|";
  color: #ffffff;
  vertical-align: text-bottom;
}

.navbar-section li:last-child:after {
  content: "";
  }

.content {
  margin-top: 3em;
  padding: 2px;
  display: flex;
  justify-content: space-around;
  opacity: 0.9;
  background-color: #0e1a32;
}

.content-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid #707070;
  border-top:none;
  border-image:linear-gradient(to top,#565E69, rgba(0, 0, 0, 0))1;
}

.image-section-links {
  padding: 10px 0px;
  border-top: 1px solid #5f6474;
  border-bottom: 1px solid #5f6474;
}

.image-section-links ol {
  list-style: none;
  margin-top: 0px;
  line-height: 24px;
  padding: 0px;
  margin-bottom: 0px;
}

.image-section-links a {
  color: #cae4fd;
  font-family: Trebuchet MS;
  justify-content: flex-start;
  margin-left: 2px;
  font-size: 14px;
}

.image {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.services {
  margin-left: 30px;
}

.headingcolor {
  color: #bdd8f3;
  font-family: Trebuchet MS;
  font-weight: bold;
  margin-top: 0px;
  text-indent: 8px;
  letter-spacing: 1px;
}

.services-info {
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 14px;
  line-height: 24px;
  margin: 20px 10px;
}

.services-content ul {
  padding-left: 45px;
}

.services-content li {
  padding-left: 0px;
  color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  font-family: Trebuchet MS;
}

.services-content a {
  color: #bdd8f3;
}

.request p {
  font-family: Trebuchet MS;
  font-size: 14px;
  color: #ffffff;
  padding-left: 2em;
}

.request {
  margin: 20px;
  padding: 0px;
  border-top: 1px solid #5f6474;
  border-bottom: 1px solid #5f6474;
  margin-top: 34px;
  background-color: #0a293d;
}

.contact-button {
  font-family: Trebuchet MS;
  color: #c8e3ff;
  margin-left: 34px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #0a293d, #155d75);
  border: 1px solid #136885;
  margin-bottom: 15px;
}

.footer {
  background-color: #29416d;
  display:flex;
  justify-content: center;
  color: #CAD2EE;
  font-size: 13px;
  font-family: 'Trebuchet MS';
  margin-top: 10px;
  margin-bottom:5px;
}

.footer ul{
  list-style: none;
  display: flex;
  padding:0px;
  padding-left:5px;
}

.footer a {
  font-family: 'Trebuchet MS';
  color: #feffff;
  font-size: 13px;

}

.footer li:after {
  content: "|";
  color: #edf0f5;
  padding:0px 5px;
}

.footer li:before {
  content: "";
}

.footer li:last-child:after {
  content: "";
}
